<section id="parent" class="animsition">
 
  <div class="color">
    <div id="home" class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">

      <div class="h-content top-25">
        <div class="TableObject org-header-wrapper mb-4">
          <img alt="@NgThundercats" class="TableObject-item avatar"  itemprop="image" src="/assets/logo.png" />
          <div class="TableObject-item TableObject-item--primary">
            <h1 class="org-name lh-condensed mb30  fw700">
            {{title}}
            </h1>
            <p class="org-description" itemprop="description">Open source, warriors and lovers of angular from Dominican Republic</p>
          </div>
        </div> 
      </div>

      <div class="copyright quick fadeIn align-bottom fixed">
        <p class="block  fw400">
          &copy; 2017 - NgThundercats
        </p>
      </div>


      <div class="vertical-result">
        <div id="subscribe-result" class="vertical-result fixed col-sm-10 align-bottom">
        </div>
      </div>

    </div>
  </div>


  <div id="rightSide" class="visible img-only">
  <div class="scene">
      <div class="wing-left"></div>
      <div class="wing-right"></div>
      <div class="exhaust"></div>
      <div class="capsule">
        <div class="top">
          <div class="shadow"></div>
        </div>
        <div class="base"></div>
      </div>
      <div class="window-big"></div>
      <div class="window-small"></div>
      <div class="fire-1"></div>
      <div class="fire-2"></div>
      <div class="fire-3"></div>
      <div class="fire-4"></div>
      <div class="spark-1"></div>
      <div class="spark-2"></div>
      <div class="spark-3"></div>
      <div class="spark-4"></div>
      <div class="star star--1"></div>
      <div class="star star--2"></div>
      <div class="star star--3"></div>
      <div class="star star--4"></div>
      <div class="star star--5"></div>
      <div class="star star--6"></div>
      <div class="star star--7"></div>
      <div class="star star--8"></div>
      <div class="star star--9"></div>
      <div class="star star--10"></div>
      <div class="star star--11"></div>
      <div class="star star--12"></div>
      <div class="star star--13"></div>
      <div class="star star--14"></div>
      <div class="star star--15"></div>
      <div class="star star--16"></div>
    </div>
  </div>
</section>
